@{
    ViewBag.Title = "Sign In";
}
<div class="row">
    @if (ViewBag.Errors != null)
    {
        <div class="alert alert-danger">
            <ul>
                @foreach (string error in ViewBag.Errors)
                {
                    <li>@error</li>
                }
            </ul>
        </div>
    }
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label for="username" class="control-label">Username</label>
            @Html.TextBox("username", "", new { placeholder = "username or email address", @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="password" class="control-label">Password</label>
            @Html.Password("password", "", new { placeholder = "password", @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.CheckBox("rememberMe", false, new { })
            <label for="rememberMe" class="control-label">Stay Signed In</label>
        </div>
        <input type="submit" value="Sign In" class="btn btn-default" />
        @Html.ActionLink("Register", "Register", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Forgot Password?", "ForgotPassword", null, new { @class = "btn btn-default" })
    }
</div>