
@model IEnumerable<AthenasSpider.Models.Product>
@{
    ViewBag.Title = "Index";


}

<div class="jumbotron-fluid libre">Latest Products</div>
<div class="card-deck">
    @foreach (var product in Model)
    {

        <div class="card">
            <img class="card-img-top" src= "@product.Image" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">@product.ItemName</h4>
                <p class="card-text">@product.Description</p>
                @Html.ActionLink("View", "Details", "Product", new { id = product.ItemId }, new { @class = "btn btn-default " })
                @using (Html.BeginForm("Details", "Product", FormMethod.Post, new { @class = "form" }))
                {
                    <input type="hidden" name="id" value="@product.ItemId" />
                    <input type="hidden" name="quantity" value="1" />
                    <input type="hidden" name="color" value="red" />
                    <input type="hidden" name="size" value="small" />
                    <input type="submit" value="Add To Cart" class="btn btn-light" />

                }
            </div>
            <div class="card-footer">
                <small class="text-muted">@product.Price.ToString("c")</small>
                
            </div>
        </div>


    }
</div>

