@model IEnumerable<AthenasSpider.Models.BespokeOrders>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VarId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Products.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customers.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Orders.ShipAddressLine1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VarId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.ItemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order.ShipAddressLine1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BespokeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BespokeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BespokeId })
        </td>
    </tr>
}

</table>
